.ba {
  border-style: solid;
  border-width: 0.125em;
}
.bt {
  border-top-style: solid;
  border-top-width: 0.125em;
}
.br {
  border-right-style: solid;
  border-right-width: 0.125em;
}
.bb {
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
}
.bl {
  border-left-style: solid;
  border-left-width: 0.125em;
}

.bn,
.bn th,
.bn td {
  border-style: none;
  border-width: 0;
}

.b--dotted {
  border-style: dotted;
}
.b--dashed {
  border-style: dashed;
}
.b--solid {
  border-style: solid;
}

.br0 {
  border-radius: 0;
}
.br1 {
  border-radius: 0.786em;
}
.br2 {
  border-radius: 1em;
}
.br3 {
  border-radius: 1.272em;
}
.br4 {
  border-radius: 1.618em;
}
.br5 {
  border-radius: 2.058em;
}
.br6 {
  border-radius: 2.618em;
}
.br-100 {
  border-radius: 100%;
}

.bw0 {
  border-width: 0;
}
.bw1 {
  border-width: 0.125em;
}
.bw2 {
  border-width: 0.25em;
}
.bw3 {
  border-width: 0.5em;
}
.bw4 {
  border-width: 1em;
}
.bw5 {
  border-width: 2em;
}

.bt-0 {
  border-top-width: 0;
}
.br-0 {
  border-right-width: 0;
}
.bb-0 {
  border-bottom-width: 0;
}
.bl-0 {
  border-left-width: 0;
}

.shadow-0 {
  box-shadow: 0 !important;
}
.shadow-1 {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.shadow-2 {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.shadow-3 {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.shadow-4 {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.shadow-5 {
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.shadow-inside-1 {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.shadow-inside-2 {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}
.shadow-inside-3 {
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.2);
}

.shadow-1-x {
  box-shadow: 8px 0 12px -8px rgba(0, 0, 0, 0.2),
    -8px 0 12px -8px rgba(0, 0, 0, 0.2);
}
.shadow-1-y {
  box-shadow: 0 -8px 12px -8px rgba(0, 0, 0, 0.2),
    0 8px 12px -8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 30em) {
  .br0-s {
    border-radius: 0;
  }
  .br1-s {
    border-radius: 0.786em;
  }
  .br2-s {
    border-radius: 1em;
  }
  .br3-s {
    border-radius: 1.272em;
  }
  .br4-s {
    border-radius: 1.618em;
  }
  .br5-s {
    border-radius: 2.058em;
  }
  .br6-s {
    border-radius: 2.618em;
  }
  .br-100-s {
    border-radius: 100%;
  }

  .bw0-s {
    border-width: 0;
  }
  .bw1-s {
    border-width: 0.125em;
  }
  .bw2-s {
    border-width: 0.25em;
  }
  .bw3-s {
    border-width: 0.5em;
  }
  .bw4-s {
    border-width: 1em;
  }
  .bw5-s {
    border-width: 2em;
  }

  .bt-0-s {
    border-top-width: 0;
  }
  .br-0-s {
    border-right-width: 0;
  }
  .bb-0-s {
    border-bottom-width: 0;
  }
  .bl-0-s {
    border-left-width: 0;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .br0-s {
    border-radius: 0;
  }
  .br1-s {
    border-radius: 0.786em;
  }
  .br2-s {
    border-radius: 1em;
  }
  .br3-s {
    border-radius: 1.272em;
  }
  .br4-s {
    border-radius: 1.618em;
  }
  .br5-s {
    border-radius: 2.058em;
  }
  .br6-s {
    border-radius: 2.618em;
  }
  .br-100-s {
    border-radius: 100%;
  }

  .bw0-s {
    border-width: 0;
  }
  .bw1-s {
    border-width: 0.125em;
  }
  .bw2-s {
    border-width: 0.25em;
  }
  .bw3-s {
    border-width: 0.5em;
  }
  .bw4-s {
    border-width: 1em;
  }
  .bw5-s {
    border-width: 2em;
  }

  .bt-0-s {
    border-top-width: 0;
  }
  .br-0-s {
    border-right-width: 0;
  }
  .bb-0-s {
    border-bottom-width: 0;
  }
  .bl-0-s {
    border-left-width: 0;
  }
}

@media screen and (min-width: 60em) {
  .br0-l {
    border-radius: 0;
  }
  .br1-l {
    border-radius: 0.786em;
  }
  .br2-l {
    border-radius: 1em;
  }
  .br3-l {
    border-radius: 1.272em;
  }
  .br4-l {
    border-radius: 1.618em;
  }
  .br5-l {
    border-radius: 2.058em;
  }
  .br6-l {
    border-radius: 2.618em;
  }
  .br-100-l {
    border-radius: 100%;
  }

  .bw0-l {
    border-width: 0;
  }
  .bw1-l {
    border-width: 0.125em;
  }
  .bw2-l {
    border-width: 0.25em;
  }
  .bw3-l {
    border-width: 0.5em;
  }
  .bw4-l {
    border-width: 1em;
  }
  .bw5-l {
    border-width: 2em;
  }

  .bt-0-l {
    border-top-width: 0;
  }
  .br-0-l {
    border-right-width: 0;
  }
  .bb-0-l {
    border-bottom-width: 0;
  }
  .bl-0-l {
    border-left-width: 0;
  }
}
